.app {
    padding: 20px 40px;

    &__search {
        margin-bottom: 30px;

        input {
            background-color: #fff;
            height: 30px;
            line-height: 20px;
            font-size: 16px;
            border: none;
            min-width: 300px;
            padding: 0 10px;
        }
    }

    &__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
        grid-gap: 20px;
    }

    &__empty {
        font-size: 22px;
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .app {
        &__cards {
            grid-template-columns: repeat(auto-fill, minmax((calc(50% - 20px)), 1fr));
        }
    }
}

@media screen and (max-width: 768px) {
    .app {
        &__cards {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
    }
}
